# Python
__pycache__/
*.pyc

# Virtual environment
backend/.venv/
frontend/.venv/

# Environment variables
.env
backend/.env
frontend/.env
frontend/.env.*

# Node
frontend/node_modules/

# Build output
frontend/dist/